.timer-container {
	text-align: center;
}
.time-display{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 100px;
}
.timer-button-container{
    display: inline-block !important;
}